extends layout

block main
    h1 Файл не найден
    p Увы, но такого файла не существует. Возможно, время его жизни истекло и он просто был удалён с сервера. Если вы уверены, что файл существует, можете попробовать провести поиск ещё раз, проверив вводимые параметры.